

# dependencies
node_modules/
client-spm/node_modules


# testing
client-spm/coverage

# production
client-spm/build
client-spm/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
client-spm/src/assets/sass/now-ui-dashboard.css
